@font-face {
    font-family: "Concert_One";
    src: local(Concert_One), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family:"roboto";
    src: local(roboto), url(../public/fonts/roboto/Roboto-Medium.ttf)format('truetype');
    font-weight: normal;
    font-style: normal; 
}

header{
    display: flex;
}

.titulo{
    font-size: 20px;
    
}

.botao {
    color: white;
    background-color: black;
    margin-left:auto;
    padding: 5px 50px 5px 50px ;
border-radius: 10px;
height: 35px;
}

.text1{
text-align: center;
}





.campohori{
    height: 350px;
    width: 1150px;
}

.campover{
    width: 650px;
    height: 600px;

}


.campomim1{
    width: 570px;
    height: 245px;
    position: relative;
    bottom: 250px;
    right: 575px;
}

.campomim0{
    width: 570px;
    height: 245px;
    position: relative;
    bottom: 250px;
}



 
.campover2{
    width: 650px;
    height: 600px;
   margin-bottom: 100px;
}

.campohori2{
    height: 350px;
    width: 1800px;
    margin-bottom: 350px;

}

.campomim2{
    width: 896px;
    height: 345px;
position: relative;
    bottom: 350px;
    left: 656px;
}




.sec{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.aa{
    display: grid;
grid-row: 1/3;
gap: 10px;
}
